<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJwtyY7uAypd7NQ5JD8X0KZl3mZSVsEUU</string>
	<key>GCM_SENDER_ID</key>
	<string>86859415476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dst.barcodescanmodulenew</string>
	<key>PROJECT_ID</key>
	<string>test-project-bh295q</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-bh295q.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86859415476:ios:d7682cce8dbebf48b23ce1</string>
</dict>
</plist>